nav {
    background-color: #1e2da1;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}

a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: #131e70;
}

.software {
    height: 50px;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-image: url(../assets/hotel.png);
    background-position: right;
    background-size: 50%;
}