.wrapper {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap:wrap ;
}

.box {
    background-color: brown;
    color: white;
    min-width: 200px;
    min-height: 200px;
    text-align: center;
    align-content: center;
}

.box-2 {
    flex-grow: 2;
}

.box-3 {
    flex-grow: 3;
}



